.intro {
    display: flex;
    color: rgb(6, 64, 80);
    flex-wrap: wrap;
    background-color:rgb(123, 183, 183); 
    margin: 20px;
    font-family:'Courier New', Courier, monospace; 
    font-size: 18px;
    border-radius: 25px;
    border-width: 7px;
    border-color: black;
    border-style:dashed;
    padding: 10px;
}

.maintitle {
    display: flex;
    padding: 10px;
    font-family:'Courier New', Courier, monospace; 
    background-color: rgb(123, 183, 183);
    color: rgb(22, 99, 120);
    font-size: 60px;
    justify-content: center;
<<<<<<< HEAD
    border-style:dashed;
    border-color:cadetblue;
    border-width: 5px;
    border-radius: 25px;
    text-align: center;
    text-shadow: 3px 3px 3px rgba(12, 119, 122, 0.801); 
    
    
}

.OCD {
    font-size: 24px;
    color: whitesmoke;
    font-size: 10px;
    font-family:'Courier New', Courier, monospace; 
    border-style: dashed;
    border-color: rbg
}



=======
 
    border-color: rgb(2, 2, 54);
    border-width: 5px;
    border-radius: 25px;
    text-decoration:double;
    text-shadow: 4px 2px 2px black;

    border-style:dashed;
   
}
    
>>>>>>> 56a84d8f984a8799d2cda1dd78f78f1e3df50e2a
