p {
    display: flex;
    color:navy;
    flex-wrap: wrap;
    margin: 20px;
}

h1 {
    display: flex;
    font-family:'Courier New', Courier, monospace; 
    margin-top: 200px;
    background-color: rgb(123, 183, 183);
    color: rgb(22, 99, 120);
    font-size: 60px;
    justify-content: center;
    
    
}

